.listContainer {
  @apply m-2 flex border border-b-gray-200
  md:w-2/5
}
.imageContainer {
  @apply relative flex flex-col justify-center w-1/2 p-2
}

.image {
  @apply object-cover opacity-75 h-48 w-48
}

.about {
  @apply w-1/2 text-lg p-2 h-48
  md:text-xl
}

.title{
  @apply text-xl absolute top-10
  md:text-2xl
}

.products{
  @apply text-base absolute top-32
  md:text-xl
}
