.cardContainer {
  @apply border-b border-gray-200 w-full p-2 relative mb-4
  md:m-3 md:w-2/5
}

.productContainer {
  @apply flex justify-between
}
.listName {
  @apply text-xl font-bold
}

.title {
  @apply text-2xl font-bold
}

.price {
  @apply font-thin
}

.userInfo {
  @apply flex items-center ml-2
}

.cardActionsContainer {
  @apply flex justify-between items-center self-end
}

.iconsContainer {
  @apply flex
}

.avatar {
  @apply w-6 h-6 rounded-full mr-2
}

.image {
  @apply object-cover h-36 w-36
}
.logo {
  @apply object-cover w-6 h-6
}

.iconContainer {
  @apply flex flex-col items-center mr-2
}
.productText {
  @apply ml-2 w-3/4 mt-1
}

.content {
  @apply text-sm line-clamp-3
}

.suspensionPoints {
  @apply absolute flex justify-end pr-4 top-0 right-0 text-gray-500 text-xl align-middle pt-2
}



.ldsGrid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsGrid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #cef;
  animation: ldsGrid 1.2s linear infinite;
}
.ldsGrid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.ldsGrid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.ldsGrid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.ldsGrid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.ldsGrid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.ldsGrid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.ldsGrid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.ldsGrid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.ldsGrid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes ldsGrid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
