.mainContainer {
  @apply w-full mx-auto mb-14
  md:w-1/2
}



.productContainer {
  @apply px-4

}

.username {
  @apply text-base font-semibold
}

.userCard {
  @apply flex mb-8 justify-between mx-auto mt-4
  md:w-8/12

}

.avatar {
  @apply w-16 h-16 rounded-full mx-4
}

.link {
  @apply w-1/4
}

.listProducts {
  @apply flex gap-1
}

.followersFollowing {
  @apply flex gap-1
}

.buttonContainer {
  @apply place-items-center flex justify-end mr-4
}

.button {
  @apply  bg-purple rounded-md text-white text-xs p-2
}

.userStats {
  @apply flex text-sm flex-col mr-auto
  md:mr-0
}

.tabs {
  @apply flex text-sm border-b justify-around px-2
}

.activeTab {
  @apply text-purple border-b border-purple flex items-center
}

.tabLink {
  @apply flex items-center
}

.listsContainer {
  @apply flex flex-col mx-2
  md:flex-row md:flex-wrap
}

.tabContainer {
  @apply flex justify-between px-4
          md:w-2/3 md:mx-auto
}

.listLink {
  @apply text-purple underline
}
.userHasNoThing {
  @apply mx-auto
}

.productsContainer {
  @apply flex flex-col mx-2
         md:flex-row md:flex-wrap md:space-y-4
}

.userBioTitle {
  @apply text-center text-xl font-bold
}
.userSocialsTitle {
  @apply text-center text-xl font-bold
}

.userBio {
  @apply m-4 mx-auto px-4
}

.referralContainer {
  @apply flex flex-wrap mx-2


}

.popupFollow {
  @apply absolute bottom-0 right-0 mb-14 z-10 flex bg-lightLime border border-meduimLime items-center justify-between px-3
}

.popupUnfollow {
  @apply absolute bottom-0 right-0 mb-14 z-10 flex bg-lightLime border border-meduimLime items-center justify-between px-3
}

.popupText {
  @apply text-strongLime mx-3
}

.socialsContainer {
  @apply bg-gray-200 m-4 flex flex-wrap justify-center space-x-3 px-4 w-[96%]
          md:mx-auto md:space-x-12
}

.socialIcon {
  @apply h-8 w-8 my-3
          md:h-10 md:w-10
}

.icon {
  @apply mr-1
}
